
*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    position: fixed;
    background-color: rgb(255,163,177);
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 100;
}
.navbar ul{
    float:left;
    list-style: none;
    margin:0px;
    padding:  auto;

}

.navbar ul li{
    display: inline-block;
    margin-right:20px;
    padding: 23px;
    font-size:20px;

}
.navbar ul li a {
    color: black;
    text-decoration: none;

    padding: 10px;
}

.navbar::after {
    content: "";
    display: table;
    clear: both;
}